<center><img src='https://raw.githubusercontent.com/Jangrae/img/master/title.png' width=500/></center>

<center><img src='https://raw.githubusercontent.com/Jangrae/img/master/practice.png' width=300/></center>

# [실습] 데이터프레임 조회 (2)

1) pandas 라이브러리를 pd 별칭을 주어 불러오세요.

In [1]:
import pandas as pd

2) 다음 경로의 파일을 읽어 graduate 데이터프레임을 만드세요.
- 파일 경로: 'https://raw.githubusercontent.com/Jangrae/csv/master/Graduate_apply.csv'

In [2]:
path = 'https://raw.githubusercontent.com/Jangrae/csv/master/Graduate_apply.csv'
graduate = pd.read_csv(path)

3) 범주형 값을 갖는 rank 열에 어떤 값들이 몇 개씩 있는 지 확인하세요.

In [3]:
graduate['rank'].value_counts()

2    151
3    121
4     67
1     61
Name: rank, dtype: int64

4) rank 열만 확인하세요.

In [4]:
graduate['rank']

0      3
1      3
2      1
3      4
4      4
      ..
395    2
396    3
397    2
398    2
399    3
Name: rank, Length: 400, dtype: int64

5) gre, gpa 열만 확인하세요.

In [5]:
graduate[['gre', 'gpa']]

     gre   gpa
0    380  3.61
1    660  3.67
2    800  4.00
3    640  3.19
4    520  2.93
..   ...   ...
395  620  4.00
396  560  3.04
397  460  2.63
398  700  3.65
399  600  3.89

[400 rows x 2 columns]

6) gre, gpa 열의 상위 10개 행만 확인하세요.

In [6]:
graduate[['gre', 'gpa']].head(10)

   gre   gpa
0  380  3.61
1  660  3.67
2  800  4.00
3  640  3.19
4  520  2.93
5  760  3.00
6  560  2.98
7  400  3.08
8  540  3.39
9  700  3.92

7) gre 평균을 gre_mean으로 선언하고 그 값을 확인하세요.

In [8]:
gre_mean = graduate['gre'].mean()
print(gre_mean)

587.7

8) 다음 요구사항에 따라 구문을 순서대로 작성하고 확인하세요.

- gre가 800 이상인 행을 g1 데이터프레임으로 선언하세요.
- g1 데이터프레임의 gpa가 4.0 이상인 행을 g2 데이터프레임으로 선언하세요.
- g2 데이터프레임 인덱스를 초기화하세요.(기존 인덱스는 제거)

In [10]:
g1 = graduate[graduate['gre'] >= 800]
g2 = g1[g1['gpa'] >= 4.0]
g2 = g2.reset_index(drop=True)
g2.head()

   admit  gre  gpa  rank
0      1  800  4.0     1
1      0  800  4.0     4
2      1  800  4.0     3
3      1  800  4.0     3
4      1  800  4.0     2

9) graduate 데이터프레임 gre가 평균 이상이면서 rank가 4인 행을 g3 데이터프레임으로 선언하고 확인하세요.

In [11]:
g3 = graduate[(graduate['gre'] >= gre_mean) & (graduate['rank'] == 4)]
g3.head()

    admit  gre   gpa  rank
3       1  640  3.19     4
10      0  800  4.00     4
16      0  780  3.87     4
22      0  600  2.82     4
23      0  680  3.19     4