<center><img src='https://raw.githubusercontent.com/Jangrae/img/master/title.png' width=500/></center>

<center><img src='https://raw.githubusercontent.com/Jangrae/img/master/practice.png' width=300/></center>

# [실습] 데이터프레임 탐색 (2)

1) pandas 라이브러리를 pd 별칭을 주어 불러오세요.

In [1]:
import pandas as pd

2) 다음 경로의 파일을 읽어 graduate 데이터프레임을 만드세요.

- 파일 경로: 'https://raw.githubusercontent.com/Jangrae/csv/master/Graduate_apply.csv'
- 대소문자를 구분하니 주의하세요.

**[Graduate_apply 데이터 셋 정보]**

- admit: 입학 승인 여부
- gre: 시험 성적
- gpa: 학점
- rank: 대학 순위

In [2]:
path = 'https://raw.githubusercontent.com/Jangrae/csv/master/Graduate_apply.csv'
graduate = pd.read_csv(path)

3) 상위 10개 행을 확인하세요.

In [3]:
graduate.head(10)

   admit  gre   gpa  rank
0      0  380  3.61     3
1      1  660  3.67     3
2      1  800  4.00     1
3      1  640  3.19     4
4      0  520  2.93     4
5      1  760  3.00     2
6      1  560  2.98     1
7      0  400  3.08     2
8      1  540  3.39     3
9      0  700  3.92     2

4) 행과 열의 개수를 확인하세요.

In [4]:
graduate.shape

(400, 4)

5) 각 열의 값 개수와 데이터 형식등을 한 번에 확인하세요.

In [5]:
graduate.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   admit   400 non-null    int64
 1   gre     400 non-null    int64
 2   gpa     400 non-null    float64
 3   rank    400 non-null    int64
dtypes: float64(1), int64(3)
memory usage: 12.6 KB

6) 기초통계정보를 확인하세요.

In [6]:
graduate.describe()

            admit         gre         gpa       rank
count  400.000000  400.000000  400.000000  400.00000
mean     0.317500  587.700000    3.389900    2.48500
std      0.466087  115.516536    0.380567    0.94446
min      0.000000  220.000000    2.260000    1.00000
25%      0.000000  520.000000    3.130000    2.00000
50%      0.000000  580.000000    3.395000    2.00000
75%      1.000000  660.000000    3.670000    3.00000
max      1.000000  800.000000    4.000000    4.00000

7) 범주형 값을 갖는 rank 열의 고유값과 그들의 개수를 확인하세요.

In [7]:
graduate['rank'].value_counts()

2    151
3    121
4     67
1     61
Name: rank, dtype: int64

8) gre, gpa 열의 평균값을 한 번에 확인하세요.

In [8]:
graduate[['gre', 'gpa']].mean()

gre    587.7000
gpa      3.3899
dtype: float64

9) gre 열을 기준으로 오름차순으로 정렬해 확인하세요.

In [9]:
graduate['gre'].sort_values()

304    220
179    300
71     300
315    300
316    340
      ...
33     800
25     800
369    800
286    800
293    800
Name: gre, Length: 400, dtype: int64

10) 다음 요구사항에 따라 구문을 순서대로 작성하고 확인하세요.

- rank 열을 기준으로 오름차순, rank 열 값이 같으면 gpa 열을 기준으로 내림차순으로 정렬해 tmp 테이터프레임으로 선언하세요.
- tmp 데이터프레임 인덱스 초기화 하세요.(단, 기존 인덱스 제거)
- tmp 데이터프레임을 확인하세요.

In [11]:
tmp = graduate.sort_values(['rank', 'gpa'], ascending=[True, False])
tmp = tmp.reset_index(drop=True)

tmp.head()

   admit  gre  gpa  rank
0      1  800  4.0     1
1      1  760  4.0     1
2      1  700  4.0     1
3      1  620  4.0     1
4      0  700  4.0     1